@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.home-container {
    width: 95vw;
    height: 90vh;
    background-color: #E1E1E0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-heading {
    color: #314633;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
}

.file-selector{
    margin-bottom: 1rem;
}

#img-upld-text{
    margin-top: 3rem;
    color: rgb(77, 77, 77);
    font-weight: 500;
}

.uploaded-pic{
    height: 12rem;
    width: 12rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: blueviolet;
    margin: 1rem auto;
    overflow: hidden;
    background-size: cover;
}

.uploaded-pic:hover{
    cursor: pointer;
    background-color: #cfcece;
}

.crop-img{
    height: 8.5rem;
}

.category-btn{
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    overflow: hidden;
    border-radius: 1rem;
}

.category-btn:hover{
    width: 11rem;
    height: 11rem;
    box-shadow: 5px 10px grey;
    cursor: pointer;
}

.category-btn:active{
    transform: translateY(4px);
    color: rgb(183, 255, 231);
    background-color: gray;
}